/*отступ у всех навигациооных подгрупп(ul)*/
.nav > ul ul {
  margin:16px 0 0 20px;
}
/*отступ у всех навигациооных групп(li), кроме первой*/
.nav > ul > li:not(li:first-child) {
  margin-top:42px;
}
/*отступы у всех подгрупп(li)*/
.nav > ul ul li {
  margin-top:16px;
}

@media screen and (max-width:768px) {
  .nav {
    display:none;
  }
}
