.titleWrapper {
  width:100%;
  max-width:140px;
}
.title {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.title > p {
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
.title > p > span {
  margin-left:6px;
  font-weight:400;
  font-size:14px;
  line-height:24px;
  color:#A7A7A7;
}
.reviewsWrapper {
  display:flex;
  flex-direction:column;
  row-gap:42px;
}
.underline {
  max-width:350px;
  margin:16px 0;
}
@media screen and (max-width:768px) {
  .underline {
    max-width:309px;
  }
  .title > p {
    font-size:16px;
    line-height:24px;
  }
}
