/* стили карты */
.bookWrapper {
  height:100%;
  display:grid;
  grid-template-rows:minmax(auto, 250px) auto auto auto 68px;
  padding:8px 8px 16px 8px;
  background:#FFFFFF;
  box-shadow:0 2px 4px rgba(191, 196, 201, 0.2), 0 3px 4px rgba(191, 196, 201, 0.18), 0 1px 5px rgba(191, 196, 201, 0.24);
  border-radius:10px;
  transition-duration:.2s;
}
.bookRatingText {
  color:#727272;
}
.bookImg {
  margin:0 auto 16px auto;
  display:flex;
  align-items:center;
  justify-content:center;
}
.bookTitle {
  max-height:58px;
  margin-top:16px;
  font-weight:600;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
/* .bookTitle > span {
  color:rgb(244, 44, 79);
} */
.bookAuthors {
  color:#727272;
}
/* стили кнопки */
.button {
  height:40px;
  border-radius:20px;
  margin:28px 4px 0 4px ;
}
.button:active {
  box-shadow:0 3px 4px rgba(222, 125, 11, 0.2), 0 1px 10px rgba(249, 89, 8, 0.2);
}
/* .cardButtonText {
  font-weight:600;
  font-size:12px;
  letter-spacing:0.2px;
  text-transform:uppercase;
} */
@media screen and (max-width:320px) {
  .bookWrapper {
    padding:8px 16px 16px 8px;
  }
}
