.wrapper {
  display:flex;
  align-items:center;
  gap:6px;
}
.active circle {
  fill:url(#paint0_linear_230_36581);
}
.active path {
  fill:rgb(255, 255, 255);
}
.inactive circle{
  fill:rgb(255, 255, 255);
}
.inactive path {
  fill:rgb(167, 167, 167);;
}
.buttonStyle {
  transition-duration:.2s;
  cursor:pointer;
  filter:drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
}
.buttonStyle:active {
  filter:drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2)) drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
}
