.footerWrapper {
  z-index:999;
  align-self: end;
  padding:0 16px;
  margin:62px auto 0 auto;
  background-color:rgb(255, 255, 255);
}
.footerContent {
  min-height:24px;
  margin:16px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  font-size:16px;
  line-height:24px;
  text-align:center;
}
@media screen and (max-width:1110px) {
  .footerWrapper {
    padding:0 16px;
  }
}
@media screen and (max-width:768px) {
  .footerWrapper {
    padding:0 16px;
    margin-top:48px;
  }
  .footerContent {
    justify-content:center;
    column-gap:50px;
    row-gap:16px;
  }
}
@media screen and (max-width:320px) {
  .footerWrapper {
    margin-top:20px;
  }
  .footerContent {
    margin-bottom:8px;
  }
}
