.header:after {
  z-index:-1;
  content:'';
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50vw);
  height:100%;
  width:99vw;
  background-color:rgb(255, 255, 255);
}
.header {
  z-index:999;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
  /* пока не удаляю, оставлю на будущее */
  /*position:sticky;
  top:0;*/
  margin:17px auto 27px;
  padding:24px 0 24px 0;
  background-color:rgb(255, 255, 255);
}
.header h1 {
  margin-left:120px;
  flex:2 1;
  font-weight:700;
  font-size:32px;
  line-height:40px;
}

/* Бургер-меню */
.burgerMenu {
  display:none;
  position:relative;
  width:24px;
  height:24px;
  border:0;
  background-color:rgb(255, 255, 255);
  outline:none;
}
.burgerMenu span:nth-child(2) {
  background-color:#121212;
  position:absolute;
  left:0;
  top:11px;
  width:100%;
  height:2px;
  transition:all 0.3s ease 0s;
}
.burgerMenu span:nth-child(1),
.burgerMenu span:nth-child(3) {
  position:absolute;
  left:0;
  background-color:#121212;
  height:2px;
  width:100%;
  transition:all 0.3s ease 0s;
}
.burgerMenu span:nth-child(1) {
  top:2px;
}
.burgerMenu span:nth-child(3) {
  bottom:2px;
}
.burgerMenuActive span:nth-child(1) {
  transform:rotate(-45deg);
  top:12px;
}
.burgerMenuActive span:nth-child(3) {
  transform:rotate(45deg);
  bottom:11px;
}
.burgerMenuActive span:nth-child(2) {
  transform:scale(0);
}
.dropDownMenu {
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  height:calc(100vh - 100% - 10px);
  max-width:500px;
  overflow-y:scroll;
}
.profileWrapper {
  position:relative;
}
.dropDownProfile {
  width:100%;
  position:absolute;
}
@media screen and (max-width:1142px) {
  .header {
    margin-top:8px
  }
}
@media screen and (max-width:768px) {
  .header {
    justify-content:flex-start;
    gap:24px;
    margin:8px auto 22px auto;
  }
  .header > a svg {
    display:none;
  }
  /* <PersonInfo/> */
  .header > div:last-child {
    display:none;
  }
  .header h1 {
    margin-left:0;
    flex:auto;
  }
  /*.burgerMenu {
    display:block;
  }*/
}
@media screen and (max-width:320px) {
  .header {
    margin-top:0;
    margin-bottom:8px;
  }
  .header h1 {
    font-size:18px;
    line-height:28px;
  }
}


/*
.burgerMenu {
  display:none;
  position:relative;
  width:24px;
  height:24px;
  border:0;
  background-color:rgb(255, 255, 255);
  outline:none;
}
.burgerMenu span {
  content:'';
  background-color:#121212;
  position:absolute;
  left:0;
  top:11px;
  width:100%;
  height:2px;
  transition:all 0.3s ease 0s;
}
.burgerMenu:before,
.burgerMenu:after {
  content:'';
  position:absolute;
  left:0;
  background-color:#121212;
  height:2px;
  width:100%;
  transition:all 0.3s ease 0s;
}
.burgerMenu:before {
  top:2px;
}
.burgerMenu:after {
  bottom:2px;
}
.burgerMenuActive:before {
  transform:rotate(-45deg);
  top:12px;
}
.burgerMenuActive:after {
  transform:rotate(45deg);
  bottom:11px;
}
.burgerMenuActive span {
  transform:scale(0);
}

*/
