.formWrapper {
  display:flex;
  flex-direction:column;
  row-gap:32px;
}
.title {
  display:flex;
  flex-direction:column;
  row-gap:8px;
  font-weight:700;
  font-size:24px;
  line-height:30px;
}
.subTitle {
  font-weight:600;
  font-size:14px;
  line-height:18px;
  letter-spacing:0.1px;
  color:#363636;
}
.inputs {
  display:flex;
  flex-direction:column;
  row-gap:36px;
  /*margin-bottom:20px;*/
}
.submitButton {
  width:100%;
  height:52px;
  border-radius:30px;
  background:linear-gradient(231.58deg, rgb(248, 54, 0) -53.35%, rgb(249, 212, 35) 297.76%);
  color:rgb(255, 255, 255);
}
.submitButton:active {
  box-shadow:0 3px 4px rgba(222, 125, 11, 0.2), 0 1px 10px rgba(249, 89, 8, 0.2);
}
.submitButtonText {
  font-weight:600;
  font-size:16px;
  line-height:150%;
  letter-spacing:0.2px;
  text-transform:uppercase;
  color:#FFFFFF;
}
.formFooter {
  display:flex;
  flex-direction:column;
  row-gap:16px;
}
.submitButton:disabled {
  background:#EBEBEB;
  pointer-events:none;
}
.footer {
  display:flex;
  flex-wrap:wrap;
  column-gap:16px;
  row-gap:4px;
}
.footerText {
  font-size:16px;
  line-height:24px;
  color:#727272;
}
/* отступ после wrapper только если у последнего инпута показывается ошибка */
.inputsWrapper > div:has(> label:last-child > div:nth-child(3)) {
  margin-bottom:20px;
}
