.searchWrapper  {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:8px;
  width:100%;
  max-width:350px;
  padding:11px 11px;
  background:#FFFFFF;
  box-shadow:0 2px 4px rgba(191, 196, 201, 0.2), 0 3px 4px rgba(191, 196, 201, 0.18), 0 1px 5px rgba(191, 196, 201, 0.24);
  border-radius:599px;
  transition-duration:1s;
  /*transition:.4s ease-in-out ;*/
}
.searchWrapper ::placeholder {
  color:#A7A7A7;
}
.searchText {
  width:100%;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  outline:none;
  border:none;
  caret-color:rgb(248, 54, 0);
}
.searchTextActivated {
  /* После спринтов вернуть стили */
  /* background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent; */
}
.searchActivated path {
  fill:url(#paint0_linear_472_38319);
}
.close path {
  fill:url(#paint0_linear_472_38315);
}
.svg {
  cursor:pointer;
  min-width:16px;
}
.svg path{
  transition-duration:.3s;
}
.svg:hover path {
  fill:rgb(253, 150, 104);
}
