.formWrapper {
  display:flex;
  flex-direction:column;
  row-gap:32px;
}
.inputsWrapper {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:30px;
  grid-row-gap:36px;
}
.formFooter {
  flex-wrap:wrap;
  display:flex;
  column-gap:30px;
  row-gap:16px;
}
.formFooter > button {
  max-width:255px;
}
.footerButton {
  width:100%;
  height:52px;
  border-radius:30px;
}
.footerButtonText {
  font-size:16px;
  line-height:150%;
}
.submitButton:disabled {
  background:rgb(235, 235, 235);
  pointer-events:none;
}
/* отступ после wrapper только если у последнего инпута показывается ошибка */
.inputsWrapper > div:has(> label:last-child > div:nth-child(3)) {
  margin-bottom:20px;
}
@media screen and (max-width:768px) {
  .inputsWrapper {
    grid-template-columns:1fr;
  }
  .formWrapper {
    row-gap:24px;
  }
}
@media screen and (max-width:580px) {
  .formFooter > button {
    max-width:100%;
  }
}
@media screen and (max-width:320px) {
  .inputsWrapper {
    grid-template-columns:1fr;
  }
  .formWrapper {
    row-gap:24px;
  }
}
