.button {
  height:40px;
  border-radius:20px;
  margin:28px 4px 0 4px;
}
.button:active {
  box-shadow:0 3px 4px rgba(222, 125, 11, 0.2), 0 1px 10px rgba(249, 89, 8, 0.2);
}
.buttonText {
  font-weight:600;
  font-size:12px;
  letter-spacing:0.2px;
  text-transform:uppercase;
}
.available {
  background:linear-gradient(231.58deg, rgb(248, 54, 0) -53.35%, rgb(249, 212, 35) 297.76%);
  color:rgb(255, 255, 255);
}
.available:hover {
  background-color:rgba(249, 212, 35, 1);
}
.reserved {
  border:1px solid rgba(191, 196, 201, 1) !important;
  background-color:rgba(249, 249, 250, 1);
  color:rgb(167, 167, 167);
}
.changeable {
  border:1px solid rgba(191, 196, 201, 1) !important;
  background:rgba(255, 255, 255, 1);
  color:rgb(54, 54, 54);
}
