.filterCardsWrapper  {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  flex-direction:row-reverse;
  gap:8px;
  width:calc(20% + 8vw);
  max-width:150px;
  padding:11px 11px;
  background:#FFFFFF;
  box-shadow:0 2px 4px rgba(191, 196, 201, 0.2), 0 3px 4px rgba(191, 196, 201, 0.18), 0 1px 5px rgba(191, 196, 201, 0.24);
  border-radius:599px;
  color:#A7A7A7;
  transition-duration:1s;
}
.filterCardsWrapper:active {
  box-shadow:0 3px 4px rgba(222, 125, 11, 0.2), 0 1px 10px rgba(249, 89, 8, 0.2);
}
.filterCardsText {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.svg {
  min-width:16px;
}
