.bookPage {
  display:flex;
  flex-direction:column;
  row-gap:42px;
}
.bookAdditionalInfo {
  display:flex;
  flex-direction:column;
  row-gap:62px;
}
@media screen and (max-width:768px) {
  .bookAdditionalInfo {
    row-gap:52px;
  }
  .bookPage {
    row-gap:48px;
  }
  .bookPage > section {
    margin-top:4px;
  }
}
@media screen and (max-width:320px) {
  .bookAdditionalInfo {
    row-gap:42px;
  }
  .bookPage {
    row-gap:20px;
  }
  .bookPage > section {
    margin-top:22px;
  }
}
