.bookReviewWrapper {
  display:flex;
  flex-direction:column;
  gap:16px;
  font-size:16px;
  line-height:24px;
}
.reviewer {
  display:flex;
  align-items:center;
  gap:24px;
}
/* avatar */
.reviewer > div {
  min-width:35px;
  width:auto;
}
.author {
  word-wrap:break-word;
  max-width:40vw;
}
.description {}
