.shortNavWrapper {
  position:relative;
  display:flex;
  padding:20px 0;
  margin-bottom:42px;
  background-color:rgb(249, 249, 250);
  color:rgb(167, 167, 167);
}
.shortNav {
  z-index:2;
  padding:0 16px;
  /* width = 16 + 1110 + 16 */
  max-width:1142px;
  width:100%;
  margin:0 auto;
}
@media screen and (max-width:320px) {
  .shortNavWrapper {
    font-size:12px;
    line-height:16px;
  }
}
@media screen and (max-width:768px) {
  .shortNav {
    /* width = 16 + 640 + 16 */
    max-width:672px;
  }
}
